* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 24px;
}

:root {
    --color-brand: #819b57
}

.nav-bar li {
    display: inline;
}

body {
    font-family: 'Poppins', sans-serif;
}

button > .main-btn {
    color: #faf4ea;
    background-color: var(--color-brand0);
    border: 2px solid #819b57;
    border-radius: 8px;
}

.button:hover {
    color: crimson;
    background-color: transparent;

}

.header-link {
    color: rgb(255, 196, 0);
}

.header-link:hover {
    color: #819b57;
}

ul, a {
    list-style-type: none;
    text-decoration: none;
}

.hero-title {
    color: var(--bakery-landing-1-c-2, #ffffff);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 94px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.hero-section {
    padding: 272px 0;
    background-color: #b5d67f;
}

.modern-bakery {
    color: #819B57;
}

.advantages-list {
    background-color: #819B57;
    color: var(--bakery-landing-1-background, #FAF4EA);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.main-title {
    color: #31261A;
}

/* .container img {
    display: block;
    justify-content: end;
} */

.chef-cook {
    color:#465929;
}

.shop-name {
    color:#819B57;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.invite-to-us p {
    color: var(--bakery-landing-13, #465929);
    width: 605px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}